{% extends 'base.html' %}
{% block content %}

<div class="card" style="text-align:center; padding:80px 40px;">
    <h1 style="font-size:42px; font-weight:800; margin-bottom:20px;">
        Welcome to Placement System
    </h1>

    <p class="muted" style="font-size:18px;">
        Professional Career Management Portal
    </p>

    <div style="margin-top:40px;">
        <a href="{% url 'login' %}">
            <button class="btn">Get Started</button>
        </a>
    </div>
</div>

{% endblock %}